@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.nav {
  display: block;
  font-size: 12px;
  margin: 5px 30px 10px 5px;
}

.title {
  color: black;
}

a:link {
  color: gray;
  text-decoration: none;
}

a:visited {
  color: gray;
  text-decoration: none;
}

.div1 {
  font-family: "Open Sans", sans-serif;
}

.div2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: auto;
  cursor: pointer;
  border-radius: 25px;
  width: 80%;
}

button {
  width: 100%;
}


.text {
  align-content: right;
  color: gray;
  font-size: 13px;
  padding: 15px;
}

.vertical-line {
  border-left: 4px solid #636364;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 15px;
}

@media screen and (min-width: 768px){
  .nav {
    display: flex;
    font-size: 12px;
    margin: 5px 30px 10px 5px; 
    flex-direction: row;
  }

  .nav a {
    padding-left: 8px;
    padding-right: 10px;
  }

  button .button{
    display: flex;

  }

  .nav .title{
    flex-grow: 1;
  }

  .hire{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
  }

  
 }
